<button
        type="button"
        title="Copy"
        aria-label="Copy code to clipboard"
        class="code-block-copy"
        data-action="click->clipboard#copyToClipboard"
>
    <twig:ux:icon class="w-5 h-5" name="wba:copy" />
</button>
