<button
        type="button"
        title="Copy"
        aria-label="Copy code to clipboard"
        class="
        absolute top-2 right-2
        bg-indigo-600/90 hover:bg-indigo-700/95
        text-white
        p-2.5 rounded-lg
        shadow-md
        transition-colors duration-200 ease-in-out
        focus:outline-none focus-visible:ring-2 focus-visible:ring-indigo-400
        flex items-center justify-center
        w-9 h-9
        z-10
    "
        data-action="click->clipboard#copyToClipboard"
>
    <twig:ux:icon class="w-5 h-5" name="wba:copy" />
</button>
