<div data-controller="clipboard" class="relative group max-w-full">
    {% include 'api/shared/partials/_copy.html.twig' %}

    <pre
            data-clipboard-target="code"
            class="whitespace-pre-wrap rounded bg-gray-800 text-white p-4 pt-12 font-mono overflow-x-auto max-w-full"
    >
{{ (
status starts with '2'
? { 'success': true, 'data': messages }
: {
    'success': false,
    'error': messages[0]|default('An error occurred'),
    'details': messages|length > 1 ? messages|slice(1) : null
}
)|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
    </pre>
</div>
