<table class="min-w-full border border-gray-300 divide-y divide-gray-200">
    <thead class="bg-gray-50">
    <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-300">Status Code</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Messages</th>
    </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
    {% for status, messages in commonMessages %}
        <tr>
            <td class="px-6 py-4 whitespace-nowrap border-r border-gray-300 font-semibold text-indigo-700">{{ status }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-700">
                <ul class="list-disc list-inside ml-5">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
