#######################################
# APPLICATION
#######################################
APP_ENV=dev
APP_SECRET=4821ac1887ce55493bf79b64ef17c412
# If set to true, the application will use Let's Encrypt production servers
# even when APP_ENV=dev.
# WARNING: Production endpoint has strict rate limits.
# Excessive retries can result in temporary certificate issuance blocks.
LE_PROD=false

#######################################
# DATABASES
#######################################
DATABASE_URL="mysql://openroaming:openroaming@mysql:3306/openroaming?serverVersion=8&charset=utf8mb4"
DATABASE_FREERADIUS_URL="mysql://admin:admin@example.com:3306/radius?serverVersion=8&charset=utf8mb4"

#######################################
# MESSENGER
#######################################
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

#######################################
# MAIL
#######################################
MAILER_DSN=smtp://mailcatcher:1025
EMAIL_ADDRESS=openroaming@example.com
SENDER_NAME="Provider Support"

#######################################
# SAML CONFIGURATION
#######################################
SAML_IDP_ENTITY_ID=http://localhost/saml/metadata
SAML_IDP_SSO_URL=https://id.example.com/saml2/idp/SSOService.php
SAML_IDP_X509_CERT=MIIC...
SAML_SP_ENTITY_ID=https://localhost/saml/metadata
SAML_SP_ACS_URL=https://localhost/saml/acs
# Specifies which SAML attribute is used as the unique identifier, for example for when performing LDAP queries
# Examples: sAMAccountName, email, uid, username
SAML_IDENTIFIER_ATTRIBUTE=sAMAccountName

#######################################
# AUTH PROVIDERS (OAUTH)
#######################################
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=

#######################################
# SECURITY
#######################################

# Trusted proxies (Load Balancing)
TRUSTED_PROXIES=192.0.0.1,10.0.0.0/8

# Sentry
SENTRY_DSN=

# JWT (lexik/jwt-authentication-bundle)
# Generate keys:
# php bin/console lexik:jwt:generate-keypair
# Add --passphrase=<your_passphrase> for stronger protection
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=
JWT_EXPIRATION=1800

# Turnstile (Cloudflare)
TURNSTILE_KEY=
TURNSTILE_SECRET=

#######################################
# CORS
#######################################
# Allows API usage only from localhost environments
# Please do not change this value!!
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'

#######################################
# FEATURES & ADMIN OPTIONS
#######################################

# Enable Export Operations
EXPORT_USERS=OFF
EXPORT_FREERADIUS_STATISTICS=OFF

# Enable Delete User UI (Requires valid public PGP key)
# File: public/resources/public_pgp_key/public_key.asc
ENABLE_DELETE_USERS_UI=OFF

#######################################
# EXTERNAL SERVICES
#######################################

# Budget SMS API
BUDGETSMS_API_URL=https://api.budgetsms.net/sendsms/

#######################################
# METRICS
#######################################
METRICS_ENABLED=false
METRICS_ALLOWED_IPS=0.0.0.0/0

#######################################
# LOCK CONFIGURATION (symfony/lock)
#######################################
# Alternative example:
# postgresql+advisory://db_user:db_password@localhost/db_name
LOCK_DSN=flock

###> symfony/default URL for request, please make sure you change this to your specific DNS ###
DEFAULT_URI=http://localhost/
###> symfony/default URL ###
