
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

.env

.idea/

signing-keys/privkey.pem

signing-keys/cert.pem

signing-keys/windowsKey.pfx

signing-keys/ca.pem

signing-keys/chain.pem
signing-keys/fullchain.pem

.env.martelado

release-package/release.zip

public/resources/uploaded/*
!upload/.gitkeep

assets/styles/randomRealmsColors.css

Dockerfile-dev

pgp_public_key/*
!pgp_public_key/.gitkeep

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###


###> vincentlanglet/twig-cs-fixer ###
/.twig-cs-fixer.cache
###< vincentlanglet/twig-cs-fixer ###

###> script for pipelines before commits ###
.git/hooks/pre-commit
###> script for pipelines before commits ###
