###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
.env

.idea/

signing-keys/privkey.pem

signing-keys/cert.pem

signing-keys/windowsKey.pfx

signing-keys/ca.pem

signing-keys/chain.pem
signing-keys/fullchain.pem

.env.martelado

release-package/release.zip

public/resources/uploaded/*
!upload/.gitkeep

assets/styles/randomRealmsColors.css

DockerfileDev

pgp_public_key/*
!pgp_public_key/.gitkeep

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###


###> vincentlanglet/twig-cs-fixer ###
/.twig-cs-fixer.cache
###< vincentlanglet/twig-cs-fixer ###

###> script for pipelines before commits ###
.git/hooks/pre-commit
###< script for pipelines before commits ###

geoLiteDB/GeoLite2-City.mmdb

###> Command for DB reset for local testing ###
src/Command/ResetRadiusMarcelinaSettingsCommand.php
###< Command for DB reset for local testing ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
/public/build/
/node_modules/
###< symfony/asset-mapper ###

###> config/reference this page breaks phpstan with warnings of compatability, because of the project image ###
config/reference.php
###< config/reference ###
