#includes:
#	- phpstan-baseline.neon
parameters:
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        constantHassers: false
    level: 7
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - vendor/*
        - var/*
        - node_modules/*
    scanDirectories:
        - var/cache/dev/Symfony/Config
