<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Password is:</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div class="container mx-auto p-4">
    <div class="bg-white rounded-lg shadow-md">
        <div class="p-6">
            {% if isNewUser %}
                <h1 class="text-2xl font-bold mb-4">Welcome to our Portal!</h1>
                <p class="text-sm text-gray-500">Thank you for joining us. Your authentication password
                    is: {{ password }}</p>
            {% else %}
                <h1 class="text-2xl font-bold mb-4">Your password has been reset.</h1>
                <p class="text-sm text-gray-500">Your new authentication password is: {{ password }}</p>
            {% endif %}
            <p class="text-sm text-gray-500">Please keep this password confidential and do not share it with others.</p>
            <p class="text-sm text-gray-500"> And please come back to your <a
                        class="text-lg font-thin text-[#3F474D] hover:underline mt-2 inline-block hover:text-[#7DB928]"
                        href="{{ path('app_login') }}">Portal</a> to finish your account.</p>
        </div>
    </div>
</div>
</body>
</html>
