<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open the door to OpenRoaming!</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-indigo-100">
<div class="container mx-auto p-8">
    <div class="bg-white rounded-lg p-6 shadow-md text-center space-y-2">
        <h1 class="text-3xl font-bold text-[#7DB928] mb-4">Admin password reset</h1>
        <p class="text-lg">This is a confirmation that your password has been successfully changed. </p>
        <p class="text-base text-gray-500">Your account's security is our top priority, and we appreciate your proactive
            approach to password management.</p>

    </div>
</div>
</body>
</html>
