<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm your Password Reset</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-indigo-100">
<div class="container mx-auto p-8">
    <div class="bg-white rounded-lg p-6 shadow-md text-center space-y-2">
        {% if resetPassword %}
            <h1 class="text-3xl font-bold text-[#7DB928] mb-4">Admin Password Reset</h1>
            <p class="text-lg">This is a step to confirm your password reset.</p>
        {% else %}
            <h1 class="text-3xl font-bold text-[#7DB928] mb-4">Admin Settings Reset</h1>
            <p class="text-lg">This is a step to confirm the settings reset.</p>
        {% endif %}
        <p class="text-base text-gray-500">Please use the follow code to confirm the action:
            <b>{{ verificationCode }}</b></p>
    </div>
</div>
</body>
</html>
