<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open the door to OpenRoaming!</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-indigo-100">
<div class="container mx-auto p-8">
    <div class="bg-white rounded-lg p-6 shadow-md">

        {% if isNewUser %}
            <h1 class="mb-4 text-3xl font-bold text-[#7DB928]">Welcome to the OpenRoaming Portal!</h1>
            <p class="mt-2 text-lg ">
                To validate your new account please click
                <a class="mt-2 inline-block text-lg font-semibold text-[#7DB928] hover:text-green-500 hover:underline"
                   href="{{ absolute_url('/login/link') ~ '?' ~ 'uuid=' ~ uuid|url_encode ~ '&verificationCode=' ~ verificationCode }}">here!</a>
            </p>
            <p class="mt-2 text-lg">
                <strong>Note</strong>: After being redirected, please click <strong>“Download and Install
                    Profile”</strong> on the portal
                to finalize your
                device provisioning process.
            </p>
            <p>If the link does not work please log in with the password below and enter the following code: <span class="font-semibold">{{ verificationCode }}</span></p>
            <p class="mt-2 text-lg">Your account password is the following: <span
                        class="font-semibold">{{ password }}</span></p>
            <p class="mt-2 text-lg">For <strong>“Login Here”</strong> please use your email address and the password
                above.</p>
            <p class="mt-2 text-lg">Thank you</p>
        {% else %}
            <h1 class="text-3xl font-bold text-[#7DB928] mb-4">Your password has been reset.</h1>
            <p class="text-lg ">Your new authentication password is: <span
                        class="font-semibold">{{ password }}</span></p>
            <p class="text-lg">Keep this password safe and do not share it with anyone else.</p>
        {% endif %}
    </div>
</div>
</body>
</html>
