{% extends 'base.html.twig' %}


{% block title %}Email Activation Support{% endblock %}

{% block body %}
    {% if incorrect_code %}
        <p class="mb-5">Congrats, It failed, you have typed the incorrect code!</p>
    {% else %}
        <p class="mb-5">Oops, you got a error on the controller, go fix it!</p>
    {% endif %}

{% endblock %}
