{% extends 'base.html.twig' %}

{% block title %}Email Activation Support{% endblock %}

{% block body %}
    <div class="flex flex-col items-center mt-10">
        <h1 class="text-2xl font-bold mb-3">Email Activation</h1>

        <p>An authentication code has been sent to your email.</p>
        <div class="mt-4">
            <form action="{{ path('app_check_email_code') }}" method="post">
                <label for="code" class="block mb-2">Enter the code:</label>
                <input type="number" id="code" name="code" class="border border-gray-300 px-4 py-2 rounded-lg mb-2"
                       oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                       maxlength="6">
                <button type="submit"
                        class="border-solid border-2 border-green-500 rounded-lg px-4 py-2 bg-[#7DB928] text-white">
                    Verify
                </button>
            </form>
            <p>Click <a href="{{ path("app_regenerate_email_code") }}" class="font-bold mt-5">here</a> to generate a new
                email with a new code</p>
        </div>
        <div class="mt-4">
            {# Flash error message  #}
            {% for message in app.session.flashbag.get('error') %}
                <div class="text-white text-base bg-red-600 border-red-600 mt-1 rounded-md p-2 text-center">{{ message }}</div>
            {% endfor %}
        </div>
        <p class="mb-5 mt-5">Please type the correct code from your email.</p>
    </div>
{% endblock %}
