{% extends 'base.html.twig' %}


{% block title %}Email Activation Support{% endblock %}

{% block body %}
    {% if correct_code %}
        <p class="mb-5">Congrats, the code is correct!</p>
    {% else %}
        <p class="mb-5">Oops, the code is incorrect!</p>
    {% endif %}

{% endblock %}
