<div class="mt-3">
    {% for message in app.session.flashbag.get('success') %}
        {{ include('landing/shared/_toast.html.twig', { toast_type: 'toast-success' }) }}
    {% endfor %}

    {% for message in app.session.flashbag.get('warning') %}
        {{ include('landing/shared/_toast.html.twig', { toast_type: 'toast-warning' }) }}
    {% endfor %}

    {% for message in app.session.flashbag.get('error') %}
        {{ include('landing/shared/_toast.html.twig', { toast_type: 'toast-warning' }) }}
    {% endfor %}
</div>
