<form method="GET" action="{{ path('change_language', {locale: app.request.locale}) }}"
      class="relative flex justify-end">
    <label for="language-selector"
           class="block text-sm font-medium text-gray-900 mr-2 self-center">{{ 'language'|trans({}, 'landing') }}</label>
    <div class="relative w-44">
        <select id="language-selector" name="locale"
                onchange="this.form.submit()"
                class="country-dropdown">
            <option value="en" {% if app.request.locale == 'en' %}selected{% endif %}>
                <div class="flex flex-row space-x-2">
                    <twig:ux:icon class="w-2" name="wba:gb-flag"/>
                    <p>English</p>
                </div>
            </option>
            <option value="pt" {% if app.request.locale == 'pt' %}selected{% endif %}>
                <div class="flex flex-row space-x-2">
                    <twig:ux:icon class="w-2" name="wba:portugal-flag"/>
                    <p>Portugal</p>
                </div>
            </option>
        </select>

        {# Dropdown Arrow Icon #}
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
            <svg class="h-4 w-4 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <twig:ux:icon name="wba:arrow-down"/>
            </svg>
        </div>
    </div>
</form>
