<div class="alert-block my-4 p-2">
    <div class="flex items-center gap-2 p-4 border-l-4 border-yellow-500 bg-yellow-50 text-yellow-800 text-sm rounded-md"
         role="alert">
        <twig:ux:icon name="wba:info" class="w-10 md:w-5 h-10 md:h-5 inline mr-3"
                      fill="currentColor"/>
        <span class="font-medium">
          Switching to <strong>simple mode</strong> will remove the frequency time details.
        </span>
    </div>
</div>
