<div class="grid gap-8 sm:gap-12 lg:gap-16 lg:grid-cols-3" data-controller="descriptionCard statistics">
    {# Users using freeradius currently #}
    <div class="bg-white rounded-lg px-5 py-3 flex flex-col gap-6 shadow">
        <h1 class="text-lg font-medium text-left">Current Authenticated users</h1>
        {# 
        <canvas class="max-w-full" id="devicesChart" data-devices
                data-chart-data="{{ devicesDataJson }}"></canvas>
        #}
    </div>
</div>