<div class="grid gap-8 sm:gap-12 lg:gap-16 lg:grid-cols-2" data-controller="descriptionCard freeradiusStatistics">
    {# Authentications Attempts #}
    <div class="bg-white rounded-lg px-5 py-3 flex flex-col gap-6 shadow">
        <h1 class="text-lg font-medium text-left">Authentication Attempts</h1>
        <canvas class="max-w-full" id="authAttemptsChart" data-devices
                data-chart-data="{{ authAttemptsJson }}"></canvas>
    </div>
</div>
