{# Error Message Container #}
{% for message in app.session.flashbag.get('error_certs') %}
    <div class="transition duration-1000 animate-pulse mt-2 mr-2 text-red-500 text-base font-semibold" {{ stimulus_controller('remove') }} {{ stimulus_target('remove', 'targetCerts') }}>
        <div class="flex bg-red-100/50 rounded-lg p-4 mb-4 text-sm text-red-700" role="alert">
            <twig:ux:icon name="wba:info" class="w-5 h-5 inline mr-3"/>

            <span class="font-medium">{{ message }}</span>
        </div>
    </div>
{% endfor %}
