<div>
    <div class="p-2 mt-10">
        <h1 class="text-xl md:text-2xl font-semibold">{{ 'tittleCert'|trans({}, 'certificatesInstallation') }}</h1>
    </div>
    <div class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0">
        <a href="{{ path('admin_dashboard_settings_certs_radsecproxy') }}"
           class="btn-primary">
            {{ 'RenewCertificates'|trans({}, 'certificatesInstallation') }}
        </a>
    </div>
</div>
