<div class="bg-white border border-gray-200 rounded-xl shadow-sm p-6 mt-4">
    <div class="flex items-center gap-3">
        <twig:ux:icon class="w-6 h-6 text-primary fill-current" name="wba:server-security"/>
        <div>
            <h2 class="text-xl font-semibold text-gray-800">
                {{ 'title'|trans({}, '_radsecproxy_info_title') }}
            </h2>
            <p class="text-sm text-gray-600">
                {{ 'description'|trans({}, '_radsecproxy_info_title') }}
            </p>
        </div>
    </div>
</div>