{% extends 'base.html.twig' %}

{% block title %}Admin Page WBA{% endblock %}

{% block body %}
    <div class="container mx-auto px-4">
        <div class="py-8 text-center">
            <h1 class="text-3xl font-semibold">Admin Settings Page - WBA</h1>
            <p class="text-gray-500 mt-2">This page is for admin use only. Still in development.</p>
        </div>
        <div class="overflow-x-auto">
            <table class="table-auto w-full divide-y divide-gray-200 border border-gray-300 mb-10">
                <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-3 text-xs font-medium text-gray-500 uppercase">Setting Name</th>
                    <th class="px-4 py-3 text-xs font-medium text-gray-500 uppercase">Setting Value</th>
                </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">

                {# Flash error message #}
                {% for message in app.session.flashbag.get('error_admin') %}
                    <div class="text-white text-base bg-red-600 border-red-600 mt-5 mb-5 rounded-md p-2 mx-auto max-w-md text-center">
                        {{ message }}
                    </div>
                {% endfor %}

                {# Show the settings with the partial settings #}
                {% for setting in settings %}
                    <tr>
                        <td class="px-4 py-3 text-sm font-medium text-gray-900">
                            {{ setting.name }}
                        </td>
                        <td class="px-4 py-3 text-gray-500">
                            {{ setting.value }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
