{% extends 'base.html.twig' %}

{% block title %}Admin Page WBA{% endblock %}

{% block body %}
    <div class="container mx-auto px-4">
        <div class="py-8 text-center">
            <h1 class="text-3xl font-semibold">Admin Settings Page - WBA</h1>
            <p class="text-gray-500 mt-2">This page is for admin use only. Still in development.</p>
        </div>
        <div class="overflow-x-auto">
            <form method="post">
                <table class="table-auto w-full divide-y divide-gray-200 border border-gray-300 mb-10">
                    <thead class="bg-gray-100">
                    <tr>
                        <th class="px-4 py-3 text-xs font-medium text-gray-500 uppercase">Setting Name</th>
                        <th class="px-4 py-3 text-xs font-medium text-gray-500 uppercase">Setting Value</th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">

                    {# Flash success message  #}
                    {% for message in app.session.flashbag.get('success') %}
                        <div class="rounded-lg bg-[#7DB928] mt-5 px-8 py-3 text-white font-medium text-sm lg:text-lg text-center">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for setting in settings %}
                        <tr>
                            <td class="px-4 py-3 text-sm font-medium text-gray-900">
                                {{ setting.name }}
                            </td>
                            <td class="px-4 py-3 text-gray-500">
                                {% set value = form[setting.name].vars.value %}
                                {{ form_widget(form[setting.name], { 'value': value|default('Not Defined') }) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary"
                        onclick="return confirm('Are you sure you want to update the current settings?')">
                    Apply
                </button>
            </form>
        </div>
    </div>
{% endblock %}
