{% extends '/admin/base.html.twig' %}

{% block title %}Admin Page WBA - Stats{% endblock %}

{% block container %}
    {# Portal Statistics #}
    <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 justify-between items-center mb-10">
        <h2 class="text-2xl font-semibold text-center lg:text-left ">
            Portal Statistics
        </h2>

        <form data-controller="date-filter" action="{{ path('admin_dashboard_statistics') }}" method="post"
              class="flex flex-col sm:flex-row items-center gap-2">

            <input data-date-filter-target="start" type="datetime-local" name="startDate" id="startDate"
                   class="rounded text-sm bg-transparent py-1 px-2 border border-gray-300 focus:ring-0 w-auto"
                   value="{{ selectedStartDate }}"
                   onchange="this.form.submit()">
            <span class="px-1"> to </span>

            <input data-date-filter-target="end" type="datetime-local" name="endDate" id="endDate"
                   class="rounded text-sm bg-transparent py-1 px-2 border border-gray-300 focus:ring-0 w-full sm:w-auto"
                   value="{{ selectedEndDate }}"
                   onchange="this.form.submit()">
        </form>
    </div>

    {% include 'admin/partials/_statistics.html.twig' %}

    <hr class="mb-8 mt-16 divider">
{% endblock %}
