<div class="alert-block my-4 p-2">
    <div class="toast-warning-dashboard"
         role="alert">
        <span class="font-medium">
          {{ 'switchMode'|trans({}, 'schedule')|raw }}
        </span>
    </div>
</div>
