{% extends 'dashboard/shared/settings_actions/certificatesManagement/certificates/freeradius/base.html.twig' %}

{% block freeradius_content %}
    <div class="bg-red-500 text-white p-4 m-4 rounded-lg">
        Display content about previous step completed
    </div>
{% endblock %}
