{# Divider #}
<div class="my-[25px] divider"></div>
<p class="text-[#212529] text-opacity-40 text-sm my-5">
    You are currently authenticated as
    {% for auth in user.userExternalAuths %}
        {% if auth.provider == constant('App\\Enum\\UserProvider::SAML').value %}
            {{ auth.providerId }}
        {% else %}
            {{ app.user.uuid }}
        {% endif %}
    {% endfor %}
</p>
<a href="{{ path('saml_logout') }}" class="w-[160px] btn-logout">Logout</a>
