<div class="my-[25px] divider"></div>
<div class="space-y-2">
    <p class="text-[#212529] text-opacity-40 text-sm my-5">
        You are currently authenticated as
        {% for auth in user.userExternalAuths %}
            {% if auth.provider == constant('App\\Enum\\UserProvider::SAML').value %}
                {{ auth.providerId }}
            {% else %}
                {{ app.user.uuid }}
            {% endif %}
        {% endfor %}
    </p>
    <button class="btn-secondary" onClick="window.history.back();">Go back</button>
</div>
