<div class="my-[25px] divider"></div>
<div class="space-y-2">
    <p class="text-[#212529] text-opacity-40 text-sm my-5">
        You are currently authenticated as
        {% for auth in user.userExternalAuths %}
            {% if auth.provider == constant('App\\Enum\\UserProvider::SAML').value %}
                {{ auth.providerId }}
            {% else %}
                {{ app.user.uuid }}
            {% endif %}
        {% endfor %}
    </p>
    {% if (app.request.attributes.get('_route') == 'app_enable2FA_TOTP') or
        (app.request.attributes.get('_route') == 'app_2FA_first_verification_local')%}
        <a class="w-[160px] btn-secondary" href='{{ path("app_configure2FA") }}'>Go Back</a>
    {% else %}
        <button class="w-[160px] btn-secondary" onClick="window.history.back();">Go Back</button>
    {% endif %}
</div>
