<div class="my-[25px] divider"></div>
<div class="space-y-2">
    <p class="text-[#212529] text-opacity-40 text-sm mt-5">
        You are currently authenticated as
        {{ app.user.uuid }}
    </p>
    <a href="{{ path('app_landing') }}" class="w-[160px] btn-secondary">Go Back</a>
</div>
