{# TODO Implement the rest of the interation buttons of this page #}
{# CERTIFICATES #}
<div>
    {{ include('dashboard/shared/settings_actions/certificatesManagement/partials/_certificates.html.twig') }}
</div>

{# INSTALLATION #}
<div>
    {{ include('dashboard/shared/settings_actions/certificatesManagement/partials/_installation.html.twig') }}
</div>

{# INSTALLATION + Certificate #}
<div>
</div>

