
{# CERTIFICATES #}
<div>
    {{ include('dashboard/shared/settings_actions/certificatesManagement/_certificates.html.twig') }}
</div>

{# INSTALLATION #}
<div>
    {{ include('dashboard/shared/settings_actions/certificatesManagement/_installation.html.twig') }}
</div>
