
{# CERTIFICATES #}
<div>
    {{ include('dashboard/shared/settings_actions/certificatesInstallation/_certificates.html.twig') }}
</div>

{# INSTALLATION #}
<div>
    {{ include('dashboard/shared/settings_actions/certificatesInstallation/_installation.html.twig') }}
</div>
