
{# CERTIFICATES #}
<div>
    {{ include('dashboard/shared/settings_actions/certificatesInstalation/_certificates.html.twig') }}
</div>

{# INSTALLATION #}
<div>
    {{ include('dashboard/shared/settings_actions/certificatesInstalation/_installation.html.twig') }}
</div>
