
{# CERTIFICATES #}
<div>
    {{ include('dashboard/shared/settings_actions/certificatesManagement/partials/_certificates.html.twig') }}
</div>

{# INSTALLATION #}
<div>
    {{ include('dashboard/shared/settings_actions/certificatesManagement/partials/_installation.html.twig') }}
</div>

{# TODO Add more content here later, example certificate instalation/expiraitons dates #}
