<div class="overflow-hidden transition-all duration-300 ease-in-out mt-4"
        {{ stimulus_target('card', 'info') }}
     style="max-height: 0;">
    <div class="bg-infoBgColor border border-infoTextColor/20 rounded-lg px-3 py-2 mb-4 text-sm text-infoTextColor text-center">
        {{ description }}
    </div>
</div>
