<div class="flex justify-center items-center">
    <div class="bg-indigo-400 rounded-lg p-2 m-2 w-3/4 text-center text-white transition transform -translate-y-6 ease-in-out duration-300 absolute hidden"
            {{ stimulus_target('card', 'info') }}>
        {{ description }}
    </div>
</div>
