{% set imageSettings = [
    {
        'name': 'CUSTOMER_LOGO',
        'displayName': 'Customer Logo',
        'imagePath': asset(data.customerLogoName.value)
    },
    {
        'name': 'OPENROAMING_LOGO',
        'displayName': 'OpenRoaming Logo',
        'imagePath': asset(data.openroamingLogoName.value)
    },
    {
        'name': 'WALLPAPER_IMAGE',
        'displayName': 'Wallpaper Image',
        'imagePath': asset(data.wallpaperImageName.value)
    }
] %}

{% set textSettings = [
    { 'name': 'PAGE_TITLE', 'displayName': 'Page Title'},
    { 'name': 'WELCOME_TEXT', 'displayName': 'Welcome Text'},
    { 'name': 'WELCOME_DESCRIPTION', 'displayName': 'Welcome Description'}
] %}

<form action="{{ path('admin_dashboard_customize') }}" method="post" enctype="multipart/form-data">
    {{ form_row(form._token) }}    
    <div class="flex flex-col gap-8 z-0 justify-start">
        {# Image Settings #}
        <div class="flex flex-col lg:flex-row gap-8 lg:gap-4 max-w-sm lg:max-w-4xl">
        {% for imgSetting in imageSettings %}
            {% include 'admin/partials/settings_actions/_card.html.twig' with {
                ...imgSetting, settingType: 'image',
            } %}
        {% endfor %}
        </div>
        {# Text Settings #}
        <div class="flex flex-col lg:flex-row gap-8 lg:gap-4">
        {% for textSetting in textSettings %}
            {% include 'admin/partials/settings_actions/_card.html.twig' with {
                ...textSetting, settingType: 'text'
            } %}
        {% endfor %}
        </div>
    </div>
    
    <hr class="my-8 w-full h-0.5 bg-gray-300/50 border-0 border-gray-300/50 rounded">
    
    <div class="flex justify-evenly md:justify-end items-center gap-6 mb-8">
        <a href="{{ path('app_dashboard_regenerate_code_admin', {'type': 'settingCustom'}) }}"
           onclick="return confirm('Are you sure you want to reset to the default settings?')"
           class="text-base font-semibold hover:text-red-600 transition ease-in duration-300 p-2 rounded-lg">
            Reset
        </a>
        <button class="text-base font-semibold text-white bg-veryDarkButton hover:bg-veryDarkButton/80 hover:shadow-lg  duration-200 w-36 h-12 rounded-lg"
            onclick="return confirm('Are you sure you want to apply this new changes?')" type="submit">
            Save Changes
        </button>
    </div>
</form>
