<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {# Mobile ready #}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">


    {# Inter Font #}
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    {# Roboto Font #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body class="bg-lightGray">
<ul class="flex flex-row ">
    <li><a href="{{ path('change_locale', { 'locale': 'en' }) }}">English</a></li>
    <li><a href="{{ path('change_locale', { 'locale': 'pt' }) }}">Portuguese</a></li>
</ul>
{% block body %}{% endblock %}
{% include 'admin/partials/_app_version.html.twig' %}
</body>
</html>
