{% set bgUrl = data.WALLPAPER_IMAGE.value != '/resources/images/wallpaper.png'
    ? data.WALLPAPER_IMAGE.value
    : '/resources/images/background.png' %}

{% extends 'landing/authUser/base.html.twig' %}

{% block title %}
    {{ data.PAGE_TITLE.value }}
{% endblock %}

{% block content %}
    <div class="mt-6 leading-7">
        <p class="font-bold text-lg">{{ 'downloadInstallProfiles'|trans({}, 'landing') }}</p>
        <p class="mt-3">{{ 'profilesExplanation'|trans({}, 'landing') }}</p>
    </div>
    <form method="post" novalidate>
        {{ include('landing/shared/_os_selection.html.twig') }}
    </form>
{% endblock %}
