{% extends 'base.html.twig' %}

{% block title %}{{ 'adminPageWBA'|trans({}, '_header_admin') }}{% endblock %}

{% block body %}
    <div class="flex text-veryDarkPurple" {{ stimulus_controller('nav') }}>
        {{ include('dashboard/shared/_sidebar.html.twig') }}

        <div class="ml-auto w-full xl:w-[calc(100%_-_300px)] px-7 py-12 min-h-screen bg-lightGray">
            {# Header section #}
            <div class="flex flew-row items-center justify-between pb-10">
                {{ include('dashboard/shared/_header_admin.html.twig') }}
            </div>

            {% block container %}
            {% endblock container %}
        </div>
    </div>
{% endblock %}
