<form data-controller="date-filter" action="{{ path(routeName) }}"
      method="get"
      class="flex flex-col sm:flex-row items-center gap-2">
    <input data-date-filter-target="start" type="datetime-local" name="startDate" id="startDate"
           class="rounded text-sm bg-transparent py-1 px-2 border border-gray-300 focus:ring-0 w-auto"
           value="{{ selectedStartDate }}"
           onchange="this.form.submit()">
    <span class="px-1"> to </span>
    <input data-date-filter-target="end" type="datetime-local" name="endDate" id="endDate"
           class="rounded text-sm bg-transparent py-1 px-2 border border-gray-300 focus:ring-0 w-full sm:w-auto"
           value="{{ selectedEndDate }}"
           onchange="this.form.submit()">
    <select data-date-filter-target="preset"
            data-action="change->date-filter#applyPreset"
            class="rounded text-sm bg-transparent py-1 px-2 border border-gray-300">
        <option value="">Time Interval</option>
        <option value="1d">Last 24 hours</option>
        <option value="7d">Last 7 days</option>
        <option value="1m">Last 1 month</option>
        <option value="1y">Last 1 year</option>
    </select>
</form>
