{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="flex justify-end mt-4">
    <button type="submit" class="btn-primary">{{ 'save'|trans({}, '_blacklist') }}</button>
</div>
{{ form_end(form) }}
