<div class="grid grid-cols-1 gap-[5px] my-3">
    {# Success Toasts Dashboard #}
    {% for message in app.session.flashbag.get('success_admin') %}
        {{ include('dashboard/shared/_toast.html.twig', {
            toast_type: 'toast-success-dashboard',
            message: message,
        }) }}
    {% endfor %}

    {# Warning Toasts Dashboard #}
    {% for message in app.session.flashbag.get('warning_admin') %}
        {{ include('dashboard/shared/_toast.html.twig', {
            toast_type: 'toast-warning-dashboard',
            message: message,
        }) }}
    {% endfor %}

    {# Error Toasts Dashboard #}
    {% for message in app.session.flashbag.get('error_admin') %}
        {{ include('dashboard/shared/_toast.html.twig', {
            toast_type: 'toast-error-dashboard',
            message: message,
        }) }}
    {% endfor %}
</div>
