<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm your Password Reset</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#080D4A]">
<div class="container mx-auto px-8 pb-8 pt-[50px]">
    <div class="bg-white rounded-[18px] p-6 shadow-md">

        {% if resetPassword %}
            <h1 class="text-3xl font-bold">Admin Password Reset</h1>

            <p class="mt-6 text-lg">This is a step to confirm your password reset.</p>
        {% else %}
            <h1 class="text-3xl font-bold">Admin Settings Reset</h1>

            <p class="mt-6 text-lg">This is a step to confirm the settings reset.</p>
        {% endif %}

        <p class="text-lg">Please use the follow code to confirm the action:<span class="font-bold">{{ verificationCode }}</span></p>
    </div>
</div>
</body>
</html>
