<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open the door to OpenRoaming!</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#080D4A]">
<div class="container mx-auto px-8 pb-8 pt-[50px]">
    <div class="bg-white rounded-[18px] p-6 shadow-md">
        {% if isNewUser %}
            <h1 class="text-3xl font-bold">Welcome to the OpenRoaming Provisioning Portal!</h1>

            <p class="mt-6 text-lg">To get started with your OpenRoaming Portal account, please follow these simple
                steps:</p>
            <ol class="mt-2 text-lg list-decimal list-inside">
                <li>Click
                    <a class="font-bold text-[#7BBA29] underline"
                       href="{{ absolute_url('/login/link') ~ '?' ~ 'uuid=' ~ uuid|url_encode ~ '&verificationCode=' ~ verificationCode }}">here</a>
                    to confirm your account
                </li>
                <li>Remember: After confirmation, don't forget to click <strong>“Download and Install Profile”</strong>
                    on the portal to complete setting up your device
                </li>
                <li>Password: Your account password is: <strong>{{ password }}</strong></li>
                <li>If you encounter any issues with the confirmation link, simply log in using your credentials (email
                    and password) and enter this code: <strong>{{ verificationCode }}</strong></li>
            </ol>

            <p class="mt-6 text-lg">
                Thank you,<br>
                OpenRoaming Portal Support Team
            </p>
        {% else %}
            <h1 class="text-3xl font-bold">Your Password has been Reset!</h1>

            <p class="mt-6 text-lg">Your new authentication password is:
                <span class="font-bold">{{ password }}</span>
            </p>

            <p class="text-lg">Keep this password safe and do not share it with anyone else.</p>
        {% endif %}
    </div>
</div>
</body>
</html>
