<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open the door to OpenRoaming!</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-[#080D4A]">
<div class="container mx-auto px-8 pb-8 pt-[50px]">
    <div class="bg-white rounded-[18px] p-6 shadow-md">
        {% if isNewUser %}
            <h1 class="text-3xl font-bold">Welcome to the OpenRoaming Portal!</h1>

            <p class="mt-6 text-lg">
                To confirm your account please click
                <a class="font-bold text-[#7BBA29] underline"
                   href="{{ absolute_url('/login/link') ~ '?' ~ 'uuid=' ~ uuid|url_encode ~ '&verificationCode=' ~ verificationCode }}">here!</a>
            </p>

            <p class="text-lg">Your account password is the following:
                <span class="font-bold">{{ password }}</span>
            </p>

            <p class="text-lg">If the link does not work please log in with your credentials and enter the following code:
                <span class="font-bold">{{ verificationCode }}</span>
            </p>

            <p class="mt-4 text-lg">
                <span class="font-bold">Note</span>: After being redirected, please click <strong>“Download and Install
                    Profile”</strong> on the portal to finalize your device provisioning process.
            </p>
        {% else %}
            <h1 class="text-3xl font-bold">Your Password has been Reseted!</h1>

            <p class="mt-6 text-lg">Your new authentication password is:
                <span class="font-bold">{{ password }}</span>
            </p>

            <p class="text-lg">Keep this password safe and do not share it with anyone else.</p>
        {% endif %}
    </div>
</div>
</body>
</html>
