<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#080D4A]">

{% if 2FA %}
    {# TODO UPDATE THIS TEMPALTE ADD a new frame logic for  2fa #}
    content do 2fa
{% else %}
    <div class="container mx-auto px-8 pb-8 pt-[50px]">
        <div class="bg-white rounded-[18px] p-6 shadow-md">
            <p class="text-lg">Your authentication code is: <span class="font-bold"> {{ verificationCode }} </span></p>
            <p class="text-lg">Please keep this code confidential and do not share it with others.</p>
        </div>
    </div>
{% endif %}

</body>
</html>
