<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-[#080D4A]">
<div class="container mx-auto px-8 pb-8 pt-[50px]">
    <div class="bg-white rounded-[18px] p-6 shadow-md">
        <p class="text-lg">Your authentication code is: <span class="font-bold"> {{ verificationCode }} </span></p>

        <p class="text-lg">Please keep this code confidential and do not share it with others.</p>
    </div>
</div>
</body>
</html>
